In [2]:
#Project Goal: The greatest NBA Player of All Time
import pandas as pd

In [3]:
#championship difficulty 
https://www.reddit.com/r/nba/comments/jj6vk1/playoff_success_of_the_mvp_and_runner_up_since/

SyntaxError: invalid syntax (1151050500.py, line 2)

In [7]:
pd.read_csv("play_by_play.csv")

,game_id,eventnum,eventmsgtype,eventmsgactiontype,period,wctimestring,pctimestring,homedescription,neutraldescription,visitordescription,...,player2_team_nickname,player2_team_abbreviation,person3type,player3_id,player3_name,player3_team_id,player3_team_city,player3_team_nickname,player3_team_abbreviation,video_available_flag
0,29600012,0,12,0,1,14:43 PM,12:00,NaN,Start of 1st Period (14:43 PM EST),NaN,...,NaN,NaN,0.0,0,NaN,NaN,NaN,NaN,NaN,0
1,29600012,2,10,0,1,14:50 PM,12:00,Jump Ball O'Neal vs. Kleine: Tip to Cassell,NaN,NaN,...,Suns,PHX,5.0,208,Sam Cassell,1.610613e+09,Phoenix,Suns,PHX,0
2,29600012,3,2,1,1,14:51 PM,11:45,NaN,NaN,MISS Cassell 15' Jump Shot,...,NaN,NaN,0.0,0,NaN,NaN,NaN,NaN,NaN,0
3,29600012,4,4,0,1,14:51 PM,11:43,O'Neal REBOUND (Off:0 Def:1),NaN,NaN,...,NaN,NaN,0.0,0,NaN,NaN,NaN,NaN,NaN,0
4,29600012,5,2,1,1,14:51 PM,11:29,MISS Ceballos 26' 3PT Jump Shot,NaN,NaN,...,NaN,NaN,0.0,0,NaN,NaN,NaN,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13592894,32200001,638,1,79,4,10:54 PM,0:00,Brown 30' 3PT Pullup Jump Shot (35 PTS),NaN,NaN,...,NaN,NaN,0.0,0,NaN,NaN,NaN,NaN,NaN,1
13592895,32200001,639,2,1,4,10:54 PM,0:00,NaN,NaN,MISS Markkanen 24' 3PT Jump Shot,...,NaN,NaN,0.0,0,NaN,NaN,NaN,NaN,NaN,1
13592896,32200001,640,4,0,4,10:54 PM,0:00,NaN,NaN,Lillard REBOUND (Off:1 Def:2),...,NaN,NaN,0.0,0,NaN,NaN,NaN,NaN,NaN,1
13592897,32200001,641,1,79,4,10:54 PM,0:00,NaN,NaN,Lillard 30' 3PT Pullup Jump Shot (26 PTS),...,NaN,NaN,0.0,0,NaN,NaN,NaN,NaN,NaN,1
13592898,32200001,642,13,0,4,10:55 PM,0:00,NaN,End of 4th Period (10:55 PM EST),NaN,...,NaN,NaN,0.0,0,NaN,NaN,NaN,NaN,NaN,1

In [9]:
pd.read_csv("player.csv")

           id            full_name first_name     last_name  is_active
0       76001       Alaa Abdelnaby       Alaa     Abdelnaby          0
1       76002      Zaid Abdul-Aziz       Zaid    Abdul-Aziz          0
2       76003  Kareem Abdul-Jabbar     Kareem  Abdul-Jabbar          0
3          51   Mahmoud Abdul-Rauf    Mahmoud    Abdul-Rauf          0
4        1505    Tariq Abdul-Wahad      Tariq   Abdul-Wahad          0
...       ...                  ...        ...           ...        ...
4826  1627790           Ante Zizic       Ante         Zizic          0
4827    78647             Jim Zoet        Jim          Zoet          0
4828    78648            Bill Zopf       Bill          Zopf          0
4829  1627826          Ivica Zubac      Ivica         Zubac          1
4830    78650           Matt Zunic       Matt         Zunic          0

[4831 rows x 5 columns]

In [16]:
#number of champions
#difficulty of championships
#MVPS
#FinalsMVPs
#DPOY
#Points per game
#Career plus minus
#

In [10]:
players = pd.read_csv("Seasons_Stats.csv")

In [17]:
players.groupby("Year").mean()

/var/folders/y4/ty9_pcns397b4slfvgp240kw0000gn/T/ipykernel_19923/2209964813.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  players.groupby("Year").mean()

,Unnamed: 0,Age,G,GS,MP,PER,TS%,3PAr,FTr,ORB%,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
Year,,,,,,,,,,,,,,,,,,,,,
1950.0,155.5,26.131410,42.884615,NaN,NaN,NaN,0.384032,NaN,0.400340,NaN,...,0.683685,NaN,NaN,NaN,81.717949,NaN,NaN,NaN,114.990385,331.929487
1951.0,399.5,26.344828,43.890805,NaN,NaN,NaN,0.399908,NaN,0.396667,NaN,...,0.701023,NaN,NaN,208.557471,93.051724,NaN,NaN,NaN,123.494253,375.505747
1952.0,552.5,26.130769,49.415385,NaN,1294.792308,12.511811,0.411923,NaN,0.425046,NaN,...,0.691977,NaN,NaN,256.207692,116.038462,NaN,NaN,NaN,144.523077,446.892308
1953.0,698.5,26.018868,45.725000,NaN,1201.581250,11.698742,0.409931,NaN,0.454225,NaN,...,0.701811,NaN,NaN,228.062500,102.306250,NaN,NaN,NaN,142.218750,402.225000
1954.0,845.0,25.769231,49.862595,NaN,1278.458015,11.893798,0.410892,NaN,0.468369,NaN,...,0.678472,NaN,NaN,249.061069,106.961832,NaN,NaN,NaN,136.015267,421.770992
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2013.0,21965.0,26.535777,49.219895,22.499127,1112.923211,12.127972,0.499309,0.236636,0.278002,5.690734,...,0.710944,50.837696,141.239092,192.076789,102.178010,35.609075,23.221640,64.026178,91.418848,448.427574
2014.0,22558.0,26.472995,46.780687,21.430442,1066.883797,12.200818,0.506709,0.265374,0.292732,5.385597,...,0.717604,47.589198,139.319149,186.908347,97.070376,33.715221,20.324059,61.896890,91.238953,441.872340
2015.0,23190.0,26.500768,45.960061,21.099846,1041.775730,12.549155,0.505974,0.281766,0.265861,5.101843,...,0.722800,46.414747,137.298003,183.712750,95.960061,33.367127,20.072197,59.511521,87.199693,428.067588
2016.0,23805.5,26.823529,49.162630,22.586505,1104.809689,13.218166,0.523400,0.289998,0.286221,4.897405,...,0.739877,46.811419,150.776817,197.588235,102.384083,35.728374,22.133218,63.024221,92.674740,465.636678
2017.0,24393.0,26.406723,48.433613,22.136134,1090.680672,12.728571,0.526799,0.321558,0.270491,4.911597,...,0.737637,45.510924,150.852101,196.363025,101.053782,34.663866,21.505882,60.327731,90.226891,474.732773

In [15]:
players.columns

Index(['Unnamed: 0', 'Year', 'Player', 'Pos', 'Age', 'Tm', 'G', 'GS', 'MP',
       'PER', 'TS%', '3PAr', 'FTr', 'ORB%', 'DRB%', 'TRB%', 'AST%', 'STL%',
       'BLK%', 'TOV%', 'USG%', 'blanl', 'OWS', 'DWS', 'WS', 'WS/48', 'blank2',
       'OBPM', 'DBPM', 'BPM', 'VORP', 'FG', 'FGA', 'FG%', '3P', '3PA', '3P%',
       '2P', '2PA', '2P%', 'eFG%', 'FT', 'FTA', 'FT%', 'ORB', 'DRB', 'TRB',
       'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS'],
      dtype='object')

In [19]:
pd.read_csv("18-19.csv")

,Unnamed: 0,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Player-additional\
0,1,Alex Abrines,SG,25.0,OKC,31.0,2.0,588.0,56.0,157.0,...,5.0,43.0,48.0,20.0,17.0,6.0,14.0,53.0,165.0,abrinal01\
1,2,Quincy Acy,PF,28.0,PHO,10.0,0.0,123.0,4.0,18.0,...,3.0,22.0,25.0,8.0,1.0,4.0,4.0,24.0,17.0,acyqu01\
2,3,Jaylen Adams,PG,22.0,ATL,34.0,1.0,428.0,38.0,110.0,...,11.0,49.0,60.0,65.0,14.0,5.0,28.0,45.0,108.0,adamsja01\
3,4,Steven Adams,C,25.0,OKC,80.0,80.0,2669.0,481.0,809.0,...,391.0,369.0,760.0,124.0,117.0,76.0,135.0,204.0,1108.0,adamsst01\
4,5,Bam Adebayo,C,21.0,MIA,82.0,28.0,1913.0,280.0,486.0,...,165.0,432.0,597.0,184.0,71.0,65.0,121.0,203.0,729.0,adebaba01\
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
704,529,Ante \'8ei\'9ei\uc0\u263,C,22.0,CLE,59.0,25.0,1082.0,183.0,331.0,...,108.0,212.0,320.0,53.0,13.0,22.0,61.0,113.0,459.0,zizican01\
705,530,Ivica Zubac,C,21.0,TOT,59.0,37.0,1040.0,212.0,379.0,...,115.0,247.0,362.0,63.0,14.0,51.0,70.0,137.0,525.0,zubaciv01\
706,530,Ivica Zubac,C,21.0,LAL,33.0,12.0,516.0,112.0,193.0,...,54.0,108.0,162.0,25.0,4.0,27.0,33.0,73.0,281.0,zubaciv01\
707,530,Ivica Zubac,C,21.0,LAC,26.0,25.0,524.0,100.0,186.0,...,61.0,139.0,200.0,38.0,10.0,24.0,37.0,64.0,244.0,zubaciv01\
708,},NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN